<div id="how-we-white-fon">
		<div id="how-we-photo"><img src="/assets/Images/how-we.png"/></div>
		<div id="how-we-text-block"><p id="how-we-text">How we work</p></div>
			<div class="six-1"><p class="header-six">What We Believe</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
			<div class="six-2"><p class="header-six">How We Work</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
			<div class="six-1"><p class="header-six">Our Passion Is Our Work</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
			<div class="six-2"><p class="header-six">Breath Colour</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
			<div class="six-1"><p class="header-six">Crucifix Taxidermy</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
			<div class="six-2"><p class="header-six">Enjoy Nature</p>
			<p  class="body-six">
			Kitsch PBR selvage, banjo post-ironic master cleanse hoodie plaid put a bird on it dreamcatcher +1 quinoa. Chia single-origin
			</p>
			</div>
		</div>
		<div id="portfolio-fon">
			<div id="portfolio-text-block"><p id="portfolio-text">Portfolio</p></div>
		</div>