<div id="photo_div">
		<div id="photo-text2">&</div>
		<div id="photo-text1"><p id="first-text">LET'S DRAW SOME ARTS</p><p id="second-text">make your business much better</p></div>
		<div><img id="photoblock1" src="/assets/Images/h2.jpg"/></div>
		<div><img id="photoblock2" src="/assets/Images/h3.jpg"/></div>
		<div><img id="photoblock3" src="/assets/Images/h4.jpg"/></div>
		<div id="photoblock1-under"><a href="#" id="photoblock1-under-text">Graphics</a></div>
		<div id="photoblock2-under"><a href="#" id="photoblock2-under-text">Business</a></div>
		<div id="photoblock3-under"><a href="#" id="photoblock3-under-text">Responsive</a></div>
</div>