	<div id="four-blocks-new">
		<div class="four-block-main">
			<div class="four-block-top">
				<p class="top-first-text">EXPERIMENTED</p>
				<p class="top-second-text">Innovative thing</p>
			</div>
			<div class="four-block-centre">
				<img class="four-block-centre-picture" src="/assets/Images/picture_1.png"/>
			</div>
			<div class="four-block-bottom">
				<p class="bottom-first-text">This is dummy  description, you can see the styles we have implemented here.</p>
			</div>
		</div>
		<div class="four-block-main">
			<div class="four-block-top">
				<p class="top-first-text">CROSS BROWSER</p>
				<p class="top-second-text">All browser friendly</p>
			</div>
			<div class="four-block-centre">
				<img class="four-block-centre-picture" src="/assets/Images/picture_2.png"/>
			</div>
			<div class="four-block-bottom">
				<p class="bottom-first-text">This is dummy  description, you can see the styles we have implemented here.</p>
			</div>
		</div>
		<div class="four-block-main">
			<div class="four-block-top">
				<p class="top-first-text">READY TO LAUNCH</p>
				<p class="top-second-text">Easy to install</p>
			</div>
			<div class="four-block-centre">
				<img class="four-block-centre-picture" src="/assets/Images/picture_3.png"/>
			</div>
			<div class="four-block-bottom">
				<p class="bottom-first-text">This is dummy  description, you can see the styles we have implemented here.</p>
			</div>
		</div>
		<div class="four-block-main">
			<div class="four-block-top">
				<p class="top-first-text">LOTS OF GOODIES</p>
				<p class="top-second-text">Enjoy this</p>
			</div>
			<div class="four-block-centre">
				<img class="four-block-centre-picture" src="/assets/Images/picture_4.png"/>
			</div>
			<div class="four-block-bottom">
				<p class="bottom-first-text">This is dummy  description, you can see the styles we have implemented here.</p>
			</div>
		</div>
	</div>
	