<div id="headerdiv">
  <a href="http://facebook.com" target="_blank" ><img class="top_hrefs" src="/assets/Images/facebook-logo.png"/></a>
  <a href="http://twitter.com" target="_blank" ><img class="top_hrefs" src="/assets/Images/TwitterLogo_white.png"/></a>
  <a href="http://google.com" target="_blank" ><img class="top_hrefs" src="/assets/Images/gooogle_icon.png"/></a>
  <a href="http://instagram.com" target="_blank" ><img class="top_hrefs" src="/assets/Images/Instagram-white.png"/></a> 
</div>
<div id="secondheader"> 
  <div class="artim_logo">
    <a routerLink='' ><img src="/assets/Images/artim-logo.png" id="artim_logo"/></a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Contact</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Sliders</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Features</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Blog</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Shop</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Elements</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Blog</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Portfolio</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Servises</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">About us</a>
  </div>
  <div class="menu-container">
  <a href="#" class="menu_hrefs" src="">Registration</a>
  </div>
  <div class="menu-container">
  <a  routerLink='login' class="menu_hrefs">Log in</a>
  </div>
</div>